footer {
    background-color: #557497;
    color: #fff;
    padding: 5px;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    padding: 15px;
    overflow: hidden;
}
